* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#my-landing {
	background: url(../../assets/images/landing.jpg);
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius: 0px;
	color: white;
}

#my-landing-title-container {
	width: 30%;
	color: white;
	padding-left: 6px;
}

/*correcting landing title display on small sizes*/
@media (max-width: 997px) {
	#my-landing-title-container {
		width: 70%;
		font-size: 6px;
	}

	#my-landing-title-container h3 {
		font-size: 1.25rem;
	}
}

@media (max-width: 616px) {
	#my-landing-title-container h3 {
		font-size: 1rem;
	}
}

/*correcting cover photo display on small sizes*/
@media (max-width: 616px) {
	#my-landing {
	background: url(../../assets/images/landing-sm.jpg);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	border-radius: 0px;
	}
}	


/*correcting burger overflow by removing paddings or margins*/
@media (max-width: 530px) {
	#my-navbar-brand {
	padding-right: 0%;
	width: 60%;
	}
	.nav-item {
	padding-right: 0px;
	}
}


/*Section Titles*/
h3 {
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	color: #4E6E5D;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 1.3rem;
}

/*.for-h3-style {
	width: 10%;
	margin: 0px auto 0px auto;
	border: 10px dotted #4E6E5D;
	text-align: center;
}
*/
/*Landing Page Title*/
#my-landing-title-container h3 {
	margin-top: 40px;
	margin-bottom: 25px;
	text-align: center;
	color: #3BC14A; 
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
}

#my-navbar-brand {
	color: #3BC14A;
	font-family: 'Zhi Mang Xing', cursive;
	font-size: 2rem;
	padding-right: 11%;
}

/*my colors
4D5057 - dark greyish brown
4E6E5D - dark green
4DA167 - middle green
3BC14A - medyo bright green
CFCFCF - pastel grey
*/

#my-footer {
	margin-top: 8%;
	text-align: center;
	color: white;
	background-color: #4D5057;
	font-size: 0.75rem;
}

.soda-logo {
	height: 2.5rem;
}


/*My NavBar Modifications*/
.nav-item {
	padding-right: 30px;
}

.navbar-toggler-icon {
	border-color: white;
}

.navbar button {
	border-collapse: white;
}

/*with opacity*/
/*.dropdown-menu {
	background-color: #4E6E5D;
	color: black;
}*/

/*Bootstrap modification of cards for Projects Section*/
#projects-section .row .card {
	margin-top: 10px;
}


/*About Us*/

#about-us-section h6 {
	color: #4D5057;
	margin-top: 12%;
	font-weight: bold;
	margin-bottom: 2%;
}

#about-us-section p {
	font-size: 0.9rem;
	color: #4E6E5D;
	font-family: 'Lora', serif;
}

/*Card Mods for Projects*/

.card-title {
	color: #4D5057;
	font-weight: bold;
	font-size: 1rem;
}

.card-subtitle {
	font-size: 0.8rem;
}

.card-text {
	font-size: 0.9rem;
	color: #4E6E5D;
	font-family: 'Lora', serif;
}

/*Gallery*/

#my-gallery-proper .img-thumbnail {
	border-style: none;
}

.modal img {
	width: 100%;
}

.card-img-top {
	border-radius: 0px;
}


/****************************************Contact Us*/


#contact-us-section .btn {
	background-color: #3BC14A;
	margin-top: 1%;
	margin-bottom: 2%;
}

form {
	color: white;
}

#contact-us-section h3 {
	color: #3BC14A;
}

#contact-us-section {
	margin-top: 4%;
	width:70%;
	background-color: #031927;
	font-size: 0.9rem;
	font-family: 'Lora', serif;
}

/*correcting cover photo display on small sizes*/
@media (max-width: 616px) {

	#contact-us-section {
		width:90%;
	}

}

.form-control {
	width: 100%;
	border-radius: 0px;
}

/*.alert-email {
	margin-top: 15px;
	margin-bottom: 10px;
	visibility: hidden;
	font-size: 0.75rem;
}*/

/*#name:focus + .alert-email {
	visibility: visible;
}*/

#contact-us-section textarea {
    width: 100%;
}

.message-space {
	margin-top: 2%;
}


/*FOOTER #2 CSS*/

.footer-hr {
  background-color: #3BC14A;
}

.footer-subtitle {
  font-weight: bold;
  font-size: 12px;
}

.footer-title {
  padding-top: 2%;
}

.footer-container {
  background-color: #414141;
  color: white;
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
}

.footer-sodatortgarden {
  color: #3BC14A;
  font-weight: bold;
}

.footer-container a {
	color: white;
}

.footer-container a:hover {
	color: #3BC14A;
	text-decoration: none;
}